
# Include user settings from a file in the home directory
[include]
  path = ~/.gitconfig.local
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = /Users/drubles/.gitignore
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  who = shortlog -s --
  up = pull
  pr = pull --rebase
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  switch = !legit switch \"$@\"
  branches = !legit branches
  sprout = !legit sprout \"$@\"
  unpublish = !legit unpublish \"$@\"
  harvest = !legit harvest \"$@\"
  sync = !legit sync \"$@\"
  publish = !legit publish \"$@\"
  graft = !legit graft \"$@\"
  l = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[github]
# Removed credentials for initial commit
[github "user"]
#
[user]
#
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[diff "ruby"]
  funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
[push]
  default = current
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[merge]
  tool = opendiff
[commit]
  template = ~/.gitmessage
  # https://thoughtbot.com/blog/better-commit-messages-with-a-gitmessage-template
